@model CiPlatform.Entitites.ViewModels.AdminView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
    <form method="post">
        <nav class="navbar navbar-expand-md navbar-light header mb-4" aria-label="Eighth navbar example">
            <div class="container">

                <button class="btn btn-dark " type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="~/Images/list.png">
                </button>

                <div class="offcanvas offcanvas-start offcanvas1" data-bs-scroll="true" tabindex="-1"
                     id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">

                    <div class="offcanvas-header">
                        <h2>CI-PLATFORM</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body navbar-nav me-auto mb-2 mb-lg-0 align-self-center">
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-dark border-0" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/user-img.png" alt="mdo" width="32" height="32" class="rounded-circle" />
                                @{
                                    var firstname = Context.Session.GetString("Firstname");
                                }
                                @ViewBag.firstname
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-action="UserEdit" asp-controller="Home">Add Profile</a></li>
                                <li><a class="dropdown-item" asp-action="Timesheet" asp-controller="Story">Volunteering TimeSheet</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Login">Log out</a>
                                </li>
                            </ul>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" asp-controller="Story" asp-action="storydetails">Story</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                               aria-expanded="false">Policy</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <img src="~/Images/logo.png" alt="CI-PLATFORM" class="me-5">
                <ul class="navbar-nav first-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Story" asp-action="storydetails">Story</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           aria-expanded="false">Policy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                @*    @foreach (var p in Model.user)
                    {
                    if (p.UserId == ViewBag.uid)
                    {
                    <div class="dropdown text-end user-profile ">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="~/Images/user-img.png" alt="mdo" width="40" height="40" class="rounded-circle">

                    @p.FirstName
                    </a>
                    <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" asp-action="UserEdit" asp-controller="Home">Add Profile</a></li>
                    <li><a class="dropdown-item" asp-action="Timesheet" asp-controller ="Story">Volunteering TimeSheet</a></li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" asp-action="Login" asp-controller="Home">Log out</a></li>
                    </ul>
                    </div>
                    }
                    }*@
            </div>
        </nav>



        <!-- user page -->
        <h4 class="mt-2 ms-3 border-bottom">User</h4>
        <div style="margin-top: 2%;" class=" ms-2 d-flex justify-content-between">
            <div class="col-6 position-relative" role="search">
                <img src="~/images/search.png" alt="search-icon" style="margin-top:10px;" class="position-absolute ps-1">
                <input class="form-control me-2 ps-5 pt-3 pb-3" id="search" type="search" style="height:70%;width:80%;" placeholder="Search"
                       aria-label="Search">
            </div>
            <div class="col-4 d-flex justify-content-end">
                <a class="add btn">
                    @*asp-action="addUser" asp-controller="Admin"*@
                    + Add
                </a>
            </div>
        </div>

        <div class="table-responsive mt-2">
            <table class="table border overflow-tableEntry">
                <thead style="background-color:#f8f9fc;">
                    <tr>

                        <th style=" padding-left: 30px;" scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Employee Id</th>
                        <th scope="col">Department</th>
                        <th scope="col">Status</th>
                        <th style="text-align:center;" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="userdetails">
                    @{
                        if (Model != null)

                        {
                            foreach (var user in Model.user)
                            {
                                <tr>

                                    <td style="padding-left: 30px;"><span>@user.FirstName</span></td>
                                    <td>@user.LastName</td>
                                    <td>@user.Email</td>
                                    <td>@user.EmployeeId</td>
                                    <td>@user.Department</td>
                                    <td>
                                        @if (user.Status == 1)
                                        {
                                            <span style="color:#14C506">Active</span>
                                        }
                                        else
                                        {
                                            <span style="color:red">In-Active</span>

                                        }
                                    </td>
                                    <td style="text-align:center;">
                                        <a class="btn iconuser" asp-action="EditUser" asp-controller="Admin" asp-route-id="@user.UserId"><i class="bi bi-pencil-square iconForpencil me-2"></i></a>
                                        <a class="btn iconuser" onclick="DeleteDataSwal(@user.UserId)"><i class="bi bi-trash3 iconForDelete "></i></a>
                                    </td>
                                </tr>
                                /*DeleteUserByAdmin(@user.UserId)*/
                            }
                        }
                    }

                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
<script>

             var objectJson = JsonConvert.DeserializeObject<ReadJson>(json);
    foreach (var item in objectJson.Items)
    {
        var url = item.Url;
        var user = item.ItemXpath;
        var pass = item.ItemSize;
        Console.WriteLine("{0}\n {1}\n {2}", url, user, pass);
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/UserPageForAdmin.js"></script>


