<link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<style>
    tr {
        height: 30px;
    }

    #dataTableTime_length {
        margin-bottom: 5px;
    }
</style>
<div class="table-responsive-md my-2">
    <table class="table table-borderless" id="dataTableTime">
        <thead>
            <tr>
                <th>Mission</th>
                <th>Date</th>
                <th>Hours</th>
                <th>Minutes</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="timeMissionbody">
            @foreach (var item in Model.timesheets)
            {
                if (item.Mission.MissionType == "Time" && item.Mission.DeletedAt == null)
                {
                    <tr>
                        <td>@item.Mission.Title</td>
                        <td>@item.DateVolunteered.ToString().Split(" ")[0]</td>
                        <td>@item.Time.ToString().Split(":")[0]</td>
                        <td>@item.Time.ToString().Split(":")[1]</td>
                        <td><a onclick="EditTimeData(@item.TimesheetId)" data-bs-toggle="modal" data-bs-target="#EditVolHours"><i class="bi bi-pencil-square"></i></a><a onclick="deleteData(@item.TimesheetId)" data-bs-toggle="modal" data-bs-target="#deleteTimeModal"><i class="bi bi-trash-fill ms-2"></i></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="modal fade" idtext="deleteTimeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" id="deletetimesheetid" hidden value="1" />
                <h2 class="modal-title fs-5" id="exampleModalLabel">Are You Sure Want to Delete?</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="modalbtnclose" data-bs-dismiss="modal">NO</button>
                <button type="button" class="modaladdskills" id="btndeleteGoal" data-bs-dismiss="modal">YES</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditVolHours" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <form id="timeForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalLabel">Please input below Volunteering Hours</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="text" id="timesheetid" hidden value="hii" />
                    <div class="my-2 px-2">
                        <label class="form-label mb-0">Mission</label>
                        <select class="form-select" id="etimeMissionId">
                            <option selected disabled>Select Mission</option>
                            @foreach (var item in Model.missionApplications)
                            {
                                @if (item.UserId == ViewBag.uid && item.Mission.MissionType == "Time")
                                {
                                    <option value="@item.Mission.MissionId">@item.Mission.Title</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="my-2 px-2">
                        <label class="form-label mb-0">Date Volunteered</label>
                        <input type="date" class="form-control" placeholder="Select Date" id="etimeMissionDate">
                    </div>
                    <div class="d-flex my-2">
                        <div class="col-lg-6 px-2">
                            <label class="form-label mb-0">Hours</label>
                            <input type="text" class="form-control" placeholder="Enter Spent Hours" id="ehours">
                        </div>
                        <div class="col-lg-6 px-2">
                            <label class="form-label mb-0">Minutes</label>
                            <input type="text" class="form-control" placeholder="Enter Spent Minutes" id="eminutes">
                        </div>
                    </div>
                    <div class="my-2 px-2">
                        <label class="form-label mb-0">Message</label>
                        <textarea class="form-control" rows="4" placeholder="Enter your message.." id="etimeMissionMessage"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modalbtnclose" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="modaladdskills" id="updateTimeDetails" data-bs-dismiss="modal">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>
                $(document).ready(function() {
                    $('#etimeMissionId').on('change', function () {
                        var missionId = $(this).val();
                        $.ajax({
                            type: 'GET',
                            url: '/Story/getDateRange',
                            data: { missionId },
                            success: function (data) {
                                var startDate = new Date(data.startDate);
                                date = startDate.getDate();
                                month = startDate.getMonth() + 1;
                                year = startDate.getFullYear();
                                date = date.toString().padStart(2, '0');
                                month = month.toString().padStart(2, '0');
                                sdate = year + '-' + month + '-' + date;
                                var endDate = new Date(data.endDate);
                                date = endDate.getDate();
                                month = endDate.getMonth() + 1;
                                year = endDate.getFullYear();
                                date = date.toString().padStart(2, '0');
                                month = month.toString().padStart(2, '0');
                                edate = year + '-' + month + '-' + date;
                                $('#etimeMissionDate').attr("min", sdate);
                                $('#etimeMissionDate').attr("max", edate);
                                console.log(data);
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        })
                    });
                });


            //    let formData = new FormData();
            //        formData.append("hours", $("#ehours").val())
            //        formData.append("minutes", $("#eminutes").val())
            //        formData.append("message",$("#emessage").val())
            //        formData.append("tid", $("#timesheetId").val())
            //        //console.log(tid);

            //$.ajax({

            //        url: "/Story/AddTimeMission",
            //        type: "POST",
            //        data: formData,
            //        contentType: false,
            //        processData: false,
            //        success: function (result) {
            //        console.log(result);
            //        if (result.isSuccess) {
            //        //getAdminRecords(tabIndex);
            //        $('#etimeMissionId').val(data.missionId);
            //        toastr.success("Saved Successfully");
            //        }
            //        else {
            //        $("#timeform").html(result);
            //        CKEDITOR.replace("");
            //     }
            //   }
            // });

    //       function addTimeData() {
    //            var missionId = $('#timeMissionId').val();
    //            var date = $('#timeMissionDate').val();
    //            var hours = $('#hours').val();
    //            var minutes = $('#minutes').val();
    //            var notes = $('#timeMissionMessage').val();

    //    $.ajax({
    //        type: 'POST',
    //        url: '/Story/AddTimeTimesheet',
    //        data: {
    //            missionId: missionId,
    //            date: date,
    //            hours: hours,
    //            minutes: minutes,
    //            notes: notes
    //        },
    //        success: function(data) {
    //            // handle success response
    //            console.log(data);
    //        },
    //        error: function(e) {
    //            // handle error response
    //            console.log(e);
    //        }
    //    });
    //}

               $('#addTimeDetails').click(function(){
                   debugger;
                    var tid = $('#timesheetid').val();
                    console.log(tid);
                    var timeMissionId = $('#timeMissionId').val();
                    var timeMissionDate = $('#timeMissionDate').val();
                    var hours = $('#hours').val();
                    var minutes = $('#minutes').val();
                    var timeMissionMessage = $('#timeMissionMessage').val();
                    console.log(timeMissionId);
                    console.log(timeMissionDate);
                    console.log(hours);
                    console.log(minutes);
                    console.log(timeMissionMessage);

                    $.ajax({
                        type:'POST',
                        url: '/Story/AddTimeMission',
                        data:{
                        'MissionId':timeMissionId,
                        'date':timeMissionDate,
                        'hours':hours,
                        'minutes':minutes,
                        'message':timeMissionMessage,
                        'tid':tid,
                        },
                       success: function (data) {
                           debugger;
                         console.log(data);
                         $("#replaceTimeMission").html(data);
                        },
                        error: function (e) {
                        }
                    });
                });




                function EditTimeData(tid){
                    console.log(tid);
                    $.ajax({
                        type:'GET',
                        url: '/Story/EditTimesheet',
                        data:{
                            tid:tid,
                        },
                        success: function (data) {
                            $('#etimeMissionId').val(data.missionId);
                            var inputDate = new Date(data.dateVolunteered);
                            date = inputDate.getDate();
                            month = inputDate.getMonth() + 1;
                            year = inputDate.getFullYear();
                            date = date.toString().padStart(2, '0');
                            month = month.toString().padStart(2, '0');
                            dateformat = year+'-'+month+'-'+date;
                            console.log(dateformat);
                            $('#etimeMissionDate').val(dateformat);
                            var time = (data.time).split(':');
                            var hours = time[0];
                            var minutes = time[1];
                            $('#ehours').val(hours);
                            $('#eminutes').val(minutes);
                            $('#etimeMissionMessage').val(data.notes);
                            $('#timesheetid').val(data.timesheetId);
                            console.log(tid);
                        },
                        error: function (e) {
                            }
                    })
                }




                $('#updateTimeDetails').click(function(){
                    var tid = $('#timesheetid').val();
                    console.log(tid);
                    var timeMissionId = $('#etimeMissionId').val();
                    var timeMissionDate = $('#etimeMissionDate').val();
                    var hours = $('#ehours').val();
                    var minutes = $('#eminutes').val();
                    var timeMissionMessage = $('#etimeMissionMessage').val();
                    console.log(timeMissionId);
                    console.log(timeMissionDate);
                    console.log(hours);
                    console.log(minutes);
                    console.log(timeMissionMessage);

                    $.ajax({
                        type:'POST',
                        url: '/Story/AddTimeMission',
                        data:{
                        'MissionId':timeMissionId,
                        'date':timeMissionDate,
                        'hours':hours,
                        'minutes':minutes,
                        'message':timeMissionMessage,
                        'tid':tid,
                        },
                        success: function (result) {
                            console.log(result);
                            $('#replaceTimeMission').html(result);
                        },
                        error: function (e) {
                        }
                    });
                });



                function deleteData(tid){
                    debugger;
                    console.log(tid);
                    $.ajax({
                        type:'POST',
                        url: '/Story/DeleteTimesheet',
                        data:{
                            tid:tid,
                        },

                        success: function (data) {
                          debugger
                          if(data.isSuccess){
                              location.reload();
                          }
                            console.log(tid);
                        },
                        error: function (e) {
                            }
                    })
                }
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
