@model CiPlatform.Entitites.ViewModels.StoryView

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Volunteering Mission page</title>
   @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gDpost" crossorigin="anonymous">*@

 


   <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/storydetails.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/js/Home.js"></script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>


<body>
    <partial Name="_Header" />

    <form method="post">



        @*----------------------------------main div start from here------------------------------------------*@


        <div class="container">
            <div class="row mt-4 mediavolunteer">
                <div class="col-lg-7 ">
                    <!-- Carousel wrapper -->
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-dark"
                         data-mdb-ride="carousel">
                        <!-- Slides -->
                        <div class="carousel-inner mb-5">
                            <div class="carousel-item active" style="height: 60.5vh;">
                                <img src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png"
                                     class="d-block w-100" alt="..." style="height: 100%;" />
                            </div>
                            <div class="carousel-item" style="height: 60.5vh" ;>
                                <img src="~/Images/img1.png" class="d-block w-100" alt="..."
                                     style="height: 100%;" />
                            </div>
                            <div class="carousel-item" style="height: 60.5vh">
                                <img src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                     class="d-block w-100" alt="..." style="height: 100%;" />
                            </div>
                            <div class="carousel-item" style="height: 60.5vh">
                                <img src="~/Images/img11.png" class="d-block w-100" alt="..."
                                     style="height: 100%;" />
                            </div>
                            <div class="carousel-item" style="height: 60.5vh">
                                <img src="~/Images/Plantation-and-Afforestation-programme.png" class="d-block w-100"
                                     alt="..." style="height: 100%;" />
                            </div>
                        </div>
                        <!-- Slides -->
                        <!-- Controls -->
                        <button class="carousel-control-prev" type="button"
                                data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <!-- Controls -->
                        <!-- Thumbnails -->
                        <div class="carousel-indicators list-inline thumbnailimg img-fluid" style="margin-bottom: -20px;">
                            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1" style="width: 40%;">
                                <img class="d-block w-100"
                                     src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png"
                                     class="img-fluid" />
                            </button>
                            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1"
                                    aria-label="Slide 2" style="width: 40%;">
                                <img class="d-block w-100" src="~/Images/img1.png" class="img-fluid" />
                            </button>
                            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2"
                                    aria-label="Slide 3" style="width: 40%;">
                                <img class="d-block w-100"
                                     src="~/Images/Grow-Trees-On-the-path-to-environment-sustainability-2.png"
                                     class="img-fluid" />
                            </button>
                            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3"
                                    aria-label="Slide 4" style="width: 40%;">
                                <img class="d-block w-100" src="~/Images/img11.png" class="img-fluid" />
                            </button>
                            <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="4"
                                    aria-label="Slide 5" style="width: 40%;">
                                <img class="d-block w-100"
                                     src="~/Images/Plantation-and-Afforestation-programme-1.png" class="img-fluid" />
                            </button>

                        </div>
                        <!-- Thumbnails -->
                    </div>
                    <!-- Carousel wrapper -->
                </div>


                <div class="col-lg-5" style="margin-top: 0.5%;">
                    @{
                        var story = Model?.stories.FirstOrDefault(story => story.StoryId == Model.StoryId);

                        if (story != null)
                        {
                            var user = Model?.user.FirstOrDefault(user => user.UserId == story.UserId);


                            if (user != null)
                            {

                                <div class="d-flex justify-content-between">
                                    <div class="text-center">
                                        <div class="recentvol">
                                            @if (user.Avatar != null)
                                            {
                                                <img src="@user.Avatar" alt="" class="rounded-circle object-fit-cover" style="height:100px; width: 100px">
                                            }
                                            else
                                            {
                                                <img src="~/Images/user1.png" alt="" class="rounded-circle object-fit-cover" style="height:100px; width: 100px">
                                            }
                                        </div>
                                        <p>@user.FirstName @user.LastName</p>
                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="rounded-pill border px-3">@story.StoryViews Views</p>
                                    </div>
                                </div>
                                <div class="px-4 border-top mt-3">
                                    <div class="row">
                                        <div>@user.WhyIVolunteer</div>
                                        <br></br>
                                        <div>@Html.Raw(story.Description)</div>
                                        <br>

                                    </div>
                                </div>
                            }




                            <div class="d-flex mt-3 justify-content-evenly">
                                <div>
                                    <button type="button" class="btn rounded-pill btn-outline-warning btnApply my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <img src="~/Images/add1.png" alt=""> Recommend to a
                                        Co-Worker
                                    </button>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend To a Co-Worker</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <style>
                                                        table, th, td {
                                                            border: 1px solid black;
                                                        }
                                                    </style>



                                                    <table style="width:100%">
                                                        <tr>
                                                            <th>User Name</th>
                                                            <th>  Email</th>
                                                            <th>link of email</th>
                                                        </tr>
                                                        @foreach (var r in Model.user)
                                                        {
                                                            <tr>
                                                                <td>@r.FirstName</td>
                                                                <td>@r.Email</td>
                                                                <td><a asp-controller="MissionCard" asp-action="coworker" asp-route-missionId="@ViewBag.missionid" asp-route-email="@r.Email">Send Link</a></td>
                                                            </tr>
                                                        }


                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 d-flex justify-content-center">
                                    <a asp-controller="MissionCard" asp-action="VolunteeringMission" asp-route-missionid="@Model.mid"
                               class="my-2">
                                        <button type="button" class="btnApply btn rounded-pill btn-outline-warning">
                                            Open Mission
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                             class="bi bi-arrow-right ms-3" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                        </button>
                                    </a>
                                </div>

                            </div>

                        }
                    }
                </div>
                <div class="col-xl-12 my-5 p-3">
                    @{
                        var i = Model?.mission.FirstOrDefault(mission => mission.MissionId == Model.mid);
                        if (i != null)
                        {
                            <div class="nav-tabs border p-3">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab"
                                    aria-controls="home" aria-selected="true">
                                    @i.Title
                                </button>
                                <div class="tab-pane fade show active mt-4 p-2" id="tab-1" role="tabpanel">
                                    @i.Description
                                </div>
                            </div>
                        }
                    }
                </div>


            </div>

        </div>

    </form>
</body>
</html>